{%load crispy_forms_tags %}
{%block contenido%}


<div class="main">
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}

        <!-- form as paragraph -->
        {{ form|crispy }}

        {% if accion == 'Actualizacion' %}

        <input type="submit" value="Actualizar">
{% endif %}
        {% if var1 == 'Creacion'  %}
        <input type="submit" value="Crear">
{% endif %}
        {% if var1 == 'Visualizacion' %}
        <input type="submit" value="Regresar">
{% endif %}
    </form>

</div>
{%endblock contenido%}
