{% extends 'bitacora/base/base.html' %}

{% block content %}


<div class="row mt-5">
  <div class="col-md-3 text-center">
    <a href="#">
      <img src="img/note.png" alt="Nuevo Registro" style="width: 100px; height: 100px;">
    </a>
    <p>Nuevo Registro</p>
  </div>
  <div class="col-md-3 text-center">
    <a href="#">
      <img src="path_to_actuales_icon.png" alt="Actuales" style="width: 100px; height: 100px;">
    </a>
    <p>Actuales</p>
  </div>
  <div class="col-md-3 text-center">
    <a href="#">
      <img src="img/inventory.png" alt="Inventario" style="width: 100px; height: 100px;">
    </a>
    <p>Inventario</p>
  </div>
  <div class="col-md-3 text-center">
    <a href="#">
      <img src="img/warehouse.png" alt="Almacen" style="width: 100px; height: 100px;">
    </a>
    <p>Almacen</p>
  </div>
</div>


{% endblock %}









